///////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////
// Custom CSS Made by
///////////////////////////////////////////////////////////////////////////////
//   ____  ___  __ __ ____       ___ ___   ___ ____    _____ ____ _      //////
//  |    |/   \|  |  |    \     |   |   | /  _]    \  / ___//    | |     //////
//  |__  |     |  |  |  _  |    | _   _ |/  [_|  D  )(   \_|  o  | |     //////
//  __|  |  O  |  _  |  |  |    |  \_/  |    _]    /  \__  |     | |___  //////
// /  |  |     |  |  |  |  |    |   |   |   [_|    \  /  \ |  _  |     | //////
// \  `  |     |  |  |  |  |    |   |   |     |  .  \ \    |  |  |     | //////
//  \____j\___/|__|__|__|__|    |___|___|_____|__|\_|  \___|__|__|_____| //////
//                                                                       //////
///////////////////////////////////////////////////////////////////////////////
// 2017
///////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////
// Main color
$purple: #751b53;

// CUSTOM SVG Font variables
$icomoon-font-path: "fonts" !default;
$ico_search: "\e905";
$ico_location-to: "\e903";
$ico_location-from: "\e904";
$ico_calendar-go: "\e901";
$ico_calendar-return: "\e902";
$ico_arrow-next: "\e910";
$ico_arrow-prev: "\e911";
$ico_chevron-arrow-down: "\e900";
$ico_airplane: "\e90c";
$ico_hotel-bed: "\e90d";
